<!-- app.component.html -->
<div class="container">
  <h2>Writable Signals</h2>
  <div>Two-way binding {{counterTwoWay}}</div>
  <div>Met Signal {{counterSignal()}}</div>
  <div>Kleuren {{colors()}}</div>
  <div>Kleuren readonly {{readOnlyColors()}}</div>
  <div>Getallenreeks {{numbersArray()}}</div>
  <div>Persoon Jo {{personSignal() | json}} </div>
  <button (click)="change()">Klik hier</button>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Naam</th>
        <th>Punten</th>
      </tr>
    </thead>
    <tbody>
      @for(person of personsSignal();track person.id){
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.points}}</td>
        <td>
          <button (click)="raisePoints(person.id)">Extra punt</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div *ngIf="(countertest$ | async) as t"><p>{{t}}</p></div>
<div *ngIf="(countertest$ | async) as t"><p>{{counter}}</p></div>
<div class="timer" *ngIf="(timeLeft$ | async) as t; else sorry">
	<h4> Count down timer </h4>
	<span id="days"> {{t.daysToDday}} </span>Day(s)
	<span id="hours"> {{t.hoursToDday}} </span>Hrs
	<span id="minutes"> {{t.minutesToDday}} </span>Min
	<span id="seconds"> {{t.secondsToDday}} </span>S
</div>
<mat-card class="example-result-card">
  <mat-card-content>
    <h2>Slider</h2>
    
    <div class="example-label-container">
      <label id="example-name-label" class="example-name-label">Value</label>
      <label class="example-value-label">{{value}}</label>
    </div>
    <mat-slider
        
        class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="value" #slider>
    </mat-slider>
  </mat-card-content>
</mat-card>
<table>
  <tr>
    <td>
      <button (click)="onPlay()">play</button>
    </td>
    <td>
      <button class="smallbutton" (click)="onStop()">stop</button>
    </td>
  </tr>
</table>
<ng-template #sorry>
	Sorry, something went wrong...
</ng-template>